# Environment
.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Generated data
data/catalog.db
chroma_db/

# Editors / OS
# .vscode/ # this is commented out to make debugging available
.idea/
.DS_Store
Thumbs.db
